openapi: 3.0.0
info:
  description: |2-
     # Introduction
    This is our new version of API. We invite you to start using it and give us your feedback
    # Getting Started

    E-goi can be integrated with many environments and programming languages via our REST API.
    We've created a developer focused portal to give your organization a clear and quick overview of how to integrate with E-goi.
    The developer portal focuses on scenarios for integration and flow of events. We recommend familiarizing yourself with all of the content in the developer portal, before start using our rest API.

    The E-goi  APIv3 is served over HTTPS. To ensure data privacy, unencrypted HTTP is not supported.

    Request data is passed to the API by POSTing JSON objects to the API endpoints with the appropriate parameters.

        BaseURL = api.egoiapp.com

    # RESTful Services
    This API supports 5 HTTP methods:

    * <b>GET</b>:
    The HTTP GET method is used to **read** (or retrieve) a representation of a resource.
    * <b>POST</b>:
    The POST verb is most-often utilized to **create** new resources.
    * <b>PATCH</b>:
    PATCH is used for **modify** capabilities. The PATCH request only needs to contain the changes to the resource, not the complete resource
    * <b>PUT</b>:
    PUT is most-often utilized for **update** capabilities, PUT-ing to a known resource URI with the request body containing the newly-updated representation of the original resource.
    * <b>DELETE</b>:
    DELETE is pretty easy to understand. It is used to **delete** a resource identified by a URI.

    # Authentication

    We use a custom authentication method, you will need a apikey that you can find in your account settings. Below you will see a curl example to get your account information:
        #!/bin/bash
        curl -X GET 'https://api.egoiapp.com/my-account' \
        -H 'accept: application/json' \
        -H 'Apikey: <YOUR_APY_KEY>'

    Here you can see a curl Post example with authentication:
        #!/bin/bash
        curl -X POST 'http://api.egoiapp.com/tags' \
        -H 'accept: application/json' \
        -H 'Apikey: <YOUR_APY_KEY>' \
        -H 'Content-Type: application/json' \
        -d '{`name`:`Your custom tag`,`color`:`#FFFFFF`}'

    # SDK
    Get started quickly with E-goi with our integration tools. Our SDK is a modern open source library that makes it easy to integrate your application with E-goi services.
     * <a href='https://github.com/E-goi/sdk-java'>Java</a>
     * <a href='https://github.com/E-goi/sdk-php'>PHP</a>
     * <a href='https://github.com/E-goi/sdk-python'>Python</a>
     * <a href='https://github.com/E-goi/sdk-ruby'>Ruby</a>
     * <a href='https://github.com/E-goi/sdk-javascript'>Javascript</a>
     * <a href='https://github.com/E-goi/sdk-csharp'>C#</a>

    # Stream Limits
    Stream limits are security mesures we have to make sure our API have a fair use policy, for this reason, any request that creates or modifies data (**POST**, **PATCH** and **PUT**) is limited to a maximum of **20MB** of content length. If you arrive to this limit in one of your request, you'll receive a HTTP code **413 (Request Entity Too Large)** and the request will be ignored. To avoid this error in importation's requests, it's advised the request's division in batches that have each one less than 20MB.

    # Timeouts
    Timeouts set a maximum waiting time on a request's response. Our API, sets a default timeout for each request and when breached, you'll receive an HTTP **408 (Request Timeout)** error code. You should take into consideration that response times can vary widely based on the complexity of the request, amount of data being analyzed, and the load on the system and workspace at the time of the query. When dealing with such errors, you should first attempt to reduce the complexity and amount of data under analysis, and only then, if problems are still occurring ask for support.

    For all these reasons, the default timeout for each request is **10 Seconds** and any request that creates or modifies data (**POST**, **PATCH** and **PUT**) will have a timeout of **60 Seconds**. Specific timeouts may exist for specific requests, these can be found in the request's documentation.

    # Callbacks
    A callback is an asynchronous API request that originates from the API server and is sent to the client in response to a previous request sent by that client.

    The API will make a **POST** request to the address defined in the URL with the information regarding the event of interest and share data related to that event.

    ***Note:*** Only http or https protocols are supported in the Url parameter.

    <security-definitions/>
  title: APIv3 (New)
  version: 3.0.0
servers:
- description: Egoi Public API Server
  url: https://api.egoiapp.com
tags:
- description: "Getting started: <br /> <br /> To start sending push notifications\
    \ you simply have to integrate with our server and import our libraries. Follow\
    \ the link to find out how! <a href='https://developers.e-goi.com/push/' target='_blank'>https://developers.e-goi.com/push/</a>"
  name: Push
paths:
  /automations:
    get:
      description: Returns all automations
      operationId: getAllAutomations
      parameters:
      - allowEmptyValue: false
        description: Reference attribute to automation id
        explode: true
        in: query
        name: automation_id
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: false
        description: Reference attribute to title
        explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        description: Reference attribute to created by
        explode: true
        in: query
        name: created_by
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: false
        description: ID of the list that owns the automation
        explode: true
        in: query
        name: list_id
        required: false
        schema:
          $ref: '#/components/schemas/queryId'
        style: form
      - allowEmptyValue: false
        description: Automation status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - inactive
          type: string
        style: form
      - allowEmptyValue: false
        description: Element offset (starting at zero for the first element)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: false
        description: Number of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: false
        description: Type of order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - allowEmptyValue: false
        description: Reference attribute to order automations
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: automation_id
          enum:
          - automation_id
          - title
          - list_id
          - created_by
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationCollection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Get all automations
      tags:
      - Automations
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id' \
          --header 'Apikey: <YOUR_APIKEY>'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id")
              .method("GET", null)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = ''
          headers = {
              'Apikey': '<YOUR_APIKEY>'
          }
          conn.request("GET", "/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/automations?automation_id=<integer>&title=<string>&created_by=<integer>&list_id=<integer>&status=<string>&offset=<integer>&limit=10&order=desc&order_by=automation_id")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /automations/{automation_id}:
    delete:
      description: Remove automation information given its ID
      operationId: deleteAutomation
      parameters:
      - description: ID of the Automation
        explode: false
        in: path
        name: automation_id
        required: true
        schema:
          $ref: '#/components/schemas/queryId'
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Remove automation
      tags:
      - Automations
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request DELETE 'api.egoiapp.com/automations/<integer>' \
          --header 'Apikey: <YOUR_APIKEY>'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/automations/<integer>");
          client.Timeout = 30;
          var request = new RestRequest(Method.DELETE);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("text/plain");
          RequestBody body = RequestBody.create(mediaType, "");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/automations/<integer>")
              .method("DELETE", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("DELETE", "api.egoiapp.com/automations/<integer>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/automations/<integer>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = ''
          headers = {
              'Apikey': '<YOUR_APIKEY>'
          }
          conn.request("DELETE", "/automations/<integer>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/automations/<integer>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Delete.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /campaigns:
    get:
      description: Returns all campaigns
      operationId: getAllCampaigns
      parameters:
      - allowEmptyValue: false
        description: Channel of the campaign
        explode: true
        in: query
        name: channel
        required: false
        schema:
          enum:
          - email
          - push
          - sms
          - smart_sms
          - voice
          - web_push
          type: string
        style: form
      - allowEmptyValue: false
        description: Hash of the campaign
        explode: true
        in: query
        name: campaign_hash
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        description: ID of the list where the campaign belongs
        explode: true
        in: query
        name: list_id
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: false
        description: Status of the campaign
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - canceled
          - queued
          - paused
          - sending
          - sent
          type: string
        style: form
      - allowEmptyValue: false
        description: Internal name of the campaign
        explode: true
        in: query
        name: internal_name
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: false
        description: ID of the user who created the campaign
        explode: true
        in: query
        name: created_by
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: false
        description: ID of the group where the campaign belongs
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          type: integer
        style: form
      - allowEmptyValue: false
        description: Created initial date
        explode: true
        in: query
        name: created_min
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Created finish
        explode: true
        in: query
        name: created_max
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Updated initial
        explode: true
        in: query
        name: updated_min
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Updated finish
        explode: true
        in: query
        name: updated_max
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Start date initial
        explode: true
        in: query
        name: start_date_min
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Start date finish
        explode: true
        in: query
        name: start_date_max
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: End Date initial
        explode: true
        in: query
        name: end_date_min
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: End Date finish
        explode: true
        in: query
        name: end_date_max
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Schedule Date initial
        explode: true
        in: query
        name: schedule_date_min
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Schedule Date finish
        explode: true
        in: query
        name: schedule_date_max
        required: false
        schema:
          $ref: '#/components/schemas/date_time'
        style: form
      - allowEmptyValue: false
        description: Element offset (starting at zero for the first element)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: false
        description: Number of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: false
        description: Type of order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - allowEmptyValue: false
        description: Reference attribute to order campaigns
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          default: created
          enum:
          - list_id
          - internal_name
          - created_by
          - group_id
          - created
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsCollection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Get all Campaigns
      tags:
      - Campaigns
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created' \
          --header 'Apikey: <YOUR_APIKEY>'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created")
              .method("GET", null)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = ''
          headers = {
              'Apikey': '<YOUR_APIKEY>'
          }
          conn.request("GET", "/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns?channel=<string>&campaign_hash=<string>&list_id=<integer>&status=<string>&internal_name=<string>&created_by=<integer>&group_id=<integer>&created_min=<dateTime>&created_max=<dateTime>&updated_min=<dateTime>&updated_max=<dateTime>&start_date_min=<dateTime>&start_date_max=<dateTime>&end_date_min=<dateTime>&end_date_max=<dateTime>&schedule_date_min=<dateTime>&schedule_date_max=<dateTime>&offset=<integer>&limit=10&order=desc&order_by=created")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /campaigns/{campaign_hash}:
    delete:
      description: Remove campaign information given its ID
      operationId: deleteCampaigns
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
          $ref: '#/components/schemas/hash'
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCampaignsConflict'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Remove Campaign
      tags:
      - Campaigns
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request DELETE 'api.egoiapp.com/campaigns/<string>' \
          --header 'Apikey: <YOUR_APIKEY>'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.DELETE);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("text/plain");
          RequestBody body = RequestBody.create(mediaType, "");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/<string>")
              .method("DELETE", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("DELETE", "api.egoiapp.com/campaigns/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = ''
          headers = {
              'Apikey': '<YOUR_APIKEY>'
          }
          conn.request("DELETE", "/campaigns/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Delete.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /campaigns/email/{campaign_hash}/actions/send:
    post:
      description: Deploys and sends an email message
      operationId: actionSendEmail
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
          $ref: '#/components/schemas/hash'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignEmailSendRequest'
        description: Parameters for the 'send email' action
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCampaignsConflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Send email message
      tags:
      - Email
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/email/<string>/actions/send' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"list_id":"<integer>","segments":{"type":"<string>"},"notify":["<integer>","<integer>"],"destination_field":"<string>","unique_contacts_only":false,"limit_hour":{"hour_start":"<string>","hour_end":"<string>"}}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/email/<string>/actions/send");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"list_id\":\"<integer>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"],\"destination_field\":\"<string>\",\"unique_contacts_only\":false,\"limit_hour\":{\"hour_start\":\"<string>\",\"hour_end\":\"<string>\"}}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"list_id\":\"<integer>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"],\"destination_field\":\"<string>\",\"unique_contacts_only\":false,\"limit_hour\":{\"hour_start\":\"<string>\",\"hour_end\":\"<string>\"}}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/email/<string>/actions/send")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"list_id":"<integer>","segments":{"type":"<string>"},"notify":["<integer>","<integer>"],"destination_field":"<string>","unique_contacts_only":false,"limit_hour":{"hour_start":"<string>","hour_end":"<string>"}});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/email/<string>/actions/send");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/email/<string>/actions/send",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"list_id\":\"<integer>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"],\"destination_field\":\"<string>\",\"unique_contacts_only\":false,\"limit_hour\":{\"hour_start\":\"<string>\",\"hour_end\":\"<string>\"}}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"list_id\":\"<integer>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"],\"destination_field\":\"<string>\",\"unique_contacts_only\":false,\"limit_hour\":{\"hour_start\":\"<string>\",\"hour_end\":\"<string>\"}}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/campaigns/email/<string>/actions/send", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/email/<string>/actions/send")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"list_id\":\"<integer>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"],\"destination_field\":\"<string>\",\"unique_contacts_only\":false,\"limit_hour\":{\"hour_start\":\"<string>\",\"hour_end\":\"<string>\"}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/email:
    post:
      description: Create a new email campaign
      operationId: createEmailCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCampaignCreate'
        description: Parameters for the Email Campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashcodeCampaign'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Create new email campaign
      tags:
      - Email
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/email' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"list_id":"<integer>","internal_name":"<string>","content":{"type":"<string>","body":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","subject":"<string>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/email");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/email")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"list_id":"<integer>","internal_name":"<string>","content":{"type":"<string>","body":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","subject":"<string>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/email");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/email",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/campaigns/email", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/email")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/email/{campaign_hash}:
    patch:
      description: Update email campaign
      operationId: patchEmailCampaign
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
          $ref: '#/components/schemas/hash'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCampaignPatch'
        description: Parameters for the Email Campaign
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashcodeCampaign'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Update a specific email campaign
      tags:
      - Email
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request PATCH 'api.egoiapp.com/campaigns/email/<string>' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"internal_name":"<string>","subject":"<string>","content":{"body":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/email/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.PATCH);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"internal_name\":\"<string>\",\"subject\":\"<string>\",\"content\":{\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"internal_name\":\"<string>\",\"subject\":\"<string>\",\"content\":{\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/email/<string>")
              .method("PATCH", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"internal_name":"<string>","subject":"<string>","content":{"body":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("PATCH", "api.egoiapp.com/campaigns/email/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/email/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS =>"{\"internal_name\":\"<string>\",\"subject\":\"<string>\",\"content\":{\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"internal_name\":\"<string>\",\"subject\":\"<string>\",\"content\":{\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("PATCH", "/campaigns/email/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/email/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Patch.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"internal_name\":\"<string>\",\"subject\":\"<string>\",\"content\":{\"body\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/email/rss/{campaign_hash}/actions/enable:
    post:
      description: Enables a rss email message
      operationId: actionEnableEmailRss
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
          $ref: '#/components/schemas/hash'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Enables a rss email campaign
      tags:
      - Email
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/email/rss/<string>/actions/enable' \
          --header 'Apikey: <YOUR_APIKEY>'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/email/rss/<string>/actions/enable");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("text/plain");
          RequestBody body = RequestBody.create(mediaType, "");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/email/rss/<string>/actions/enable")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/email/rss/<string>/actions/enable");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/email/rss/<string>/actions/enable",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = ''
          headers = {
              'Apikey': '<YOUR_APIKEY>'
          }
          conn.request("POST", "/campaigns/email/rss/<string>/actions/enable", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/email/rss/<string>/actions/enable")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"

          response = http.request(request)
          puts response.read_body
      x-accepts: application/json
  /campaigns/email/rss:
    post:
      description: Create a new email rss campaign
      operationId: createEmailRssCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRssCampaignCreate'
        description: Parameters for the Email Campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashcodeCampaign'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "408":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTimeout'
          description: Request Timeout
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Create new email rss campaign
      tags:
      - Email
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/email/rss' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"list_id":"<integer>","internal_name":"<string>","content":{"type":"<string>","body":"<string>","feed":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","subject":"<string>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/email/rss");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"feed\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"feed\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/email/rss")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"list_id":"<integer>","internal_name":"<string>","content":{"type":"<string>","body":"<string>","feed":"<string>","plain_text":"<string>","snippet":"<string>"},"sender_id":"<integer>","subject":"<string>","reply_to":"<integer>","header_footer":{"id":"<integer>","header_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false},"footer_links":{"forward":false,"view_web":false,"unsubscribe":false,"edit":false,"social_share":false,"facebook_share":false,"twitter_share":false}}});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/email/rss");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/email/rss",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"feed\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"feed\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/campaigns/email/rss", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/email/rss")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"list_id\":\"<integer>\",\"internal_name\":\"<string>\",\"content\":{\"type\":\"<string>\",\"body\":\"<string>\",\"feed\":\"<string>\",\"plain_text\":\"<string>\",\"snippet\":\"<string>\"},\"sender_id\":\"<integer>\",\"subject\":\"<string>\",\"reply_to\":\"<integer>\",\"header_footer\":{\"id\":\"<integer>\",\"header_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false},\"footer_links\":{\"forward\":false,\"view_web\":false,\"unsubscribe\":false,\"edit\":false,\"social_share\":false,\"facebook_share\":false,\"twitter_share\":false}}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/push/{campaign_hash}/actions/send:
    post:
      description: Deploys and sends a push message
      operationId: actionSendPush
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
          $ref: '#/components/schemas/hash'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignPushSendRequest'
        description: Parameters for the 'send push' action
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Send push message
      tags:
      - Push
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/push/<string>/actions/send' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"app_id":"<string>","segments":{"type":"<string>"},"notify":["<integer>","<integer>"]}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/push/<string>/actions/send");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"app_id\":\"<string>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"]}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"app_id\":\"<string>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"]}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/push/<string>/actions/send")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"app_id":"<string>","segments":{"type":"<string>"},"notify":["<integer>","<integer>"]});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/push/<string>/actions/send");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/push/<string>/actions/send",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"app_id\":\"<string>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"]}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"app_id\":\"<string>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"]}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/campaigns/push/<string>/actions/send", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/push/<string>/actions/send")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"app_id\":\"<string>\",\"segments\":{\"type\":\"<string>\"},\"notify\":[\"<integer>\",\"<integer>\"]}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/push:
    post:
      description: Create a new push campaign
      operationId: createPushCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushCampaignPostRequest'
        description: Parameters for the push campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashcodeCampaign'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
          description: Service Unavailable
      security:
      - Apikey: []
      summary: Create new push campaign
      tags:
      - Push
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'api.egoiapp.com/campaigns/push' \
          --header 'Apikey: <YOUR_APIKEY>' \
          --header 'Content-Type: application/json' \
          --data-raw '{"app_id":"<string>","title":"<string>","content":{"type":"<string>","message":"<string>"},"actions":{"type":"<string>","title":"<string>","link":"<string>","cancel_label":"<string>"},"geo_options":{"latitude":"<integer>","longitude":"<integer>","range":"<integer>","duration":"<integer>"},"notification_options":{"icon":"<string>"}}'
      - lang: C#
        source: |-
          var client = new RestClient("api.egoiapp.com/campaigns/push");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("Apikey", "<YOUR_APIKEY>");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"app_id\":\"<string>\",\"title\":\"<string>\",\"content\":{\"type\":\"<string>\",\"message\":\"<string>\"},\"actions\":{\"type\":\"<string>\",\"title\":\"<string>\",\"link\":\"<string>\",\"cancel_label\":\"<string>\"},\"geo_options\":{\"latitude\":\"<integer>\",\"longitude\":\"<integer>\",\"range\":\"<integer>\",\"duration\":\"<integer>\"},\"notification_options\":{\"icon\":\"<string>\"}}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"app_id\":\"<string>\",\"title\":\"<string>\",\"content\":{\"type\":\"<string>\",\"message\":\"<string>\"},\"actions\":{\"type\":\"<string>\",\"title\":\"<string>\",\"link\":\"<string>\",\"cancel_label\":\"<string>\"},\"geo_options\":{\"latitude\":\"<integer>\",\"longitude\":\"<integer>\",\"range\":\"<integer>\",\"duration\":\"<integer>\"},\"notification_options\":{\"icon\":\"<string>\"}}");
          Request request = new Request.Builder()
              .url("api.egoiapp.com/campaigns/push")
              .method("POST", body)
              .addHeader("Apikey", "<YOUR_APIKEY>")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"app_id":"<string>","title":"<string>","content":{"type":"<string>","message":"<string>"},"actions":{"type":"<string>","title":"<string>","link":"<string>","cancel_label":"<string>"},"geo_options":{"latitude":"<integer>","longitude":"<integer>","range":"<integer>","duration":"<integer>"},"notification_options":{"icon":"<string>"}});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "api.egoiapp.com/campaigns/push");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("Apikey", "<YOUR_APIKEY>");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "api.egoiapp.com/campaigns/push",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"app_id\":\"<string>\",\"title\":\"<string>\",\"content\":{\"type\":\"<string>\",\"message\":\"<string>\"},\"actions\":{\"type\":\"<string>\",\"title\":\"<string>\",\"link\":\"<string>\",\"cancel_label\":\"<string>\"},\"geo_options\":{\"latitude\":\"<integer>\",\"longitude\":\"<integer>\",\"range\":\"<integer>\",\"duration\":\"<integer>\"},\"notification_options\":{\"icon\":\"<string>\"}}",
              CURLOPT_HTTPHEADER => array(
                  "Apikey: <YOUR_APIKEY>",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("api.egoiapp.com", timeout = 30)
          payload = "{\"app_id\":\"<string>\",\"title\":\"<string>\",\"content\":{\"type\":\"<string>\",\"message\":\"<string>\"},\"actions\":{\"type\":\"<string>\",\"title\":\"<string>\",\"link\":\"<string>\",\"cancel_label\":\"<string>\"},\"geo_options\":{\"latitude\":\"<integer>\",\"longitude\":\"<integer>\",\"range\":\"<integer>\",\"duration\":\"<integer>\"},\"notification_options\":{\"icon\":\"<string>\"}}"
          headers = {
              'Apikey': '<YOUR_APIKEY>',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/campaigns/push", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("api.egoiapp.com/campaigns/push")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["Apikey"] = "<YOUR_APIKEY>"
          request["Content-Type"] = "application/json"
          request.body = "{\"app_id\":\"<string>\",\"title\":\"<string>\",\"content\":{\"type\":\"<string>\",\"message\":\"<string>\"},\"actions\":{\"type\":\"<string>\",\"title\":\"<string>\",\"link\":\"<string>\",\"cancel_label\":\"<string>\"},\"geo_options\":{\"latitude\":\"<integer>\",\"longitude\":\"<integer>\",\"range\":\"<integer>\",\"duration\":\"<integer>\"},\"notification_options\":{\"icon\":\"<string>\"}}"

          response = http.request(request)
          puts response.read_body
      x-content-type: application/json
      x-accepts: application/json
  /campaigns/push/{campaign_hash}:
    patch:
      description: Update push campaign
      operationId: patchPushCampaign
      parameters:
      - description: ID of the Campaign
        explode: false
        in: path
        name: campaign_hash
        required: true
        schema:
[...]
